syntax: glob

# Ignore temporary files
*~
.db
*.db
.pyc
*.pyc
*.pyo
*.log
Thumbs.db
.db-journal
*.db-journal

# Ignore dist & build
bin/*
venv/*
dist/*.exe
dist/*.msi
dist/*.dmg
dist/*.app
dist/*/*

build/*.exe
build/*.msi
build/*.dmg
build/*.app
build/*/*
__pycache__/*
.mypy_cache/*

# Ignore Node modules
node_modules/