[Desktop Entry]
Name=Grail
GenericName=Grail
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=grail
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=grail
Keywords=OSC;Church;Lyrics;Projection;Song;Bible;Display
