/*
* Grail Style Sheet for Qt widgets and Plugins
*/

/**
 * @section Component, Dialog
 */

Component,
Dialog {
    background-color: #4b5056;
    }

/**
 * @section QMenuBar
 */

QMenuBar {
    background-color: #4b5056;
    color: #f1f1f1;
    }

    QMenuBar::item {
        background: transparent;
        }

        QMenuBar::item:selected {
            background: transparent;
            border: 1px solid #76797C;
            }

        QMenuBar::item:pressed {
            border: 1px solid #8a9fbb;
            background-color: #8a9fbb;
            color: #ffffff;
            margin-bottom: -1px;
            padding-bottom: 1px;
            }

/**
 * @section QComboBox
 */

QComboBox {
    selection-background-color: #3daee9;
    min-width: 75px;
    color: #222;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 3px;
    background: #4facfe;
    border: 1px solid #2c71ae;
    }

    QComboBox:on {
        padding-top: 3px;
        padding-left: 4px;
        selection-background-color: #4facfe;
        }

    QComboBox:hover {
        background: #6bbaff;
        }

    QComboBox::menu-indicator {
        image: url(:/rc/branch-open.png);
        subcontrol-position: right center;
        subcontrol-origin: padding;
        left: -3px;
        top: -1px;
        border: none;
        }

    QComboBox::drop-down {
        subcontrol-origin: padding;
        subcontrol-position: top right;
        width: 15px;
        border: none;
        border-radius: 3px;
        }

    QComboBox::down-arrow {
        image: url(:/rc/branch-open.png);
        }

    QComboBox::down-arrow:on,
    QComboBox::down-arrow:hover,
    QComboBox::down-arrow:focus {
        image: url(:/rc/branch-open.png);
        }


QAbstractSpinBox {
    padding: 4px;
    border: 1px solid #76797C;
    background-color: #232629;
    color: #f1f1f1;
    border-radius: 3px;
    min-width: 75px;
    }

    QAbstractSpinBox:up-button {
        background-color: transparent;
        subcontrol-origin: border;
        subcontrol-position: center right;
        }

    QAbstractSpinBox:down-button {
        background-color: transparent;
        subcontrol-origin: border;
        subcontrol-position: center left;
        }

    QAbstractSpinBox::up-arrow,
    QAbstractSpinBox::up-arrow:disabled,
    QAbstractSpinBox::up-arrow:off {
        image: url(:/rc/up_arrow_disabled.png);
        width: 10px;
        height: 10px;
        }

    QAbstractSpinBox::up-arrow:hover {
        image: url(:/rc/up_arrow.png);
        }


    QAbstractSpinBox::down-arrow,
    QAbstractSpinBox::down-arrow:disabled,
    QAbstractSpinBox::down-arrow:off {
        image: url(:/rc/down_arrow_disabled.png);
        width: 10px;
        height: 10px;
        }

    QAbstractSpinBox::down-arrow:hover {
        image: url(:/rc/down_arrow.png);
        }

/**
 * @section QTableWidget
 */

QTableView {
    border: none;
    background-color: #2f2f2f;
    alternate-background-color: #393939;
    show-decoration-selected: 1;
    outline: 0;
    }

    QHeaderView {
        background: #393939;
        color: #f1f1f1;
        border: none;
        border-bottom: 1px solid #2f2f2f;
        }

        QHeaderView::section {
            border: none;
            border-right: 1px solid #2f2f2f;
            margin: 0;
            background: #393939;
            color: #f1f1f1;
            padding: 3px;
            min-height: 20px;
            }

    QTableView::item {
        color: #e6e6e6;
        padding: 4px 12px;
        margin: 0;
        border-bottom: 1px solid transparent;
        qproperty-wordWrap: true;
        }

    QTableView::item:selected {
        background: #8a9fbb;
        border-bottom: 1px solid #8a9fbb;
        color: #e6e6e6;
        }


/***
 * @section Splitter
 */

Splitter::handle {
    background-color: #343434;
    }

/**
 * @section Label
 */

Label {
    color: #f1f1f1;
    }

/**
 * @section Button
 */

Button {
    color: #31343a;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 3px;
    background: #4facfe;
    border: 1px solid #2c71ae;
    }

    Button:hover {
        color: #31343a;
        background: #6bbaff;
        }

    Button::menu-indicator {
        image: url(:/rc/branch-open.png);
        subcontrol-position: right center;
        subcontrol-origin: padding;
        left: -3px;
        top: -1px;
        }

/**
 * @section Toolbar
 */

Toolbar {
    padding: 5px;
    min-height: 24px;
    background: #4b5056;
    border-top: 1px solid #4b5056;
    }

    Toolbar QToolButton {
        border: 1px solid transparent;
        background: none;
        border-radius: 3px;
        padding: 2px;
        }

/**
 * @section Scrollbar
 */

QScrollBar:horizontal {
    background: transparent;
    border: none;
    height: 8px;
    margin: 4px 4px 0 4px;
    }

    QScrollBar::handle:horizontal {
        background: rgba(0, 0, 0, 0.6);
        min-width: 20px;
        border-radius: 3px;
        }

    QScrollBar::add-line:horizontal {
        background: transparent;
        border: none;
        height: 0;
        width: 0;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
        }

    QScrollBar::sub-line:horizontal {
        background: transparent;
        border: none;
        height: 0;
        width: 0;
        subcontrol-position: top;
        subcontrol-origin: margin;
        }

    QScrollBar::up-arrow:horizontal,
    QScrollBar::down-arrow:horizontal {
        width: 0;
        height: 0;
        background: none;
        border: none;
        }

    QScrollBar::add-page:horizontal,
    QScrollBar::sub-page:horizontal {
        width: 0;
        height: 0;
        background: none;
        border: none;
        }

QScrollBar:vertical {
    background: transparent;
    border: none;
    width: 8px;
    margin: 4px 4px 4px 0;
    }

    QScrollBar::handle:vertical {
        background: rgba(0, 0, 0, 0.6);
        min-height: 20px;
        border-radius: 3px;
        }

    QScrollBar::add-line:vertical {
        background: transparent;
        border: none;
        height: 0;
        width: 0;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
        }

    QScrollBar::sub-line:vertical {
        background: transparent;
        border: none;
        height: 0;
        width: 0;
        subcontrol-position: top;
        subcontrol-origin: margin;
        }

    QScrollBar::up-arrow:vertical,
    QScrollBar::down-arrow:vertical {
        width: 0;
        height: 0;
        background: none;
        border: none;
        }

    QScrollBar::add-page:vertical,
    QScrollBar::sub-page:vertical {
        width: 0;
        height: 0;
        background: none;
        border: none;
        }

/**
 * @section LineEdit
 */

LineEdit,
SearchEdit {
    border: none;
    border-radius: 6px;
    padding: 1px 8px;
    margin: 0;
    background: #e9e9e9;
    min-height: 20px;
    height: 20px;
    }

/**
 * @section SearchEdit
 */

SearchEdit {
    border-radius: 6px;
    }

    SearchEdit QToolButton {
        border: none;
        margin: 0;
        padding: 0;
        background: none;
        }

/**
 * @section List
 */

List {
    border: none;
    background-color: #626364;
    alternate-background-color: #676869;
    show-decoration-selected: 1;
    outline: 0;
    }

    List::item {
        color: #e6e6e6;
        margin: 0;
        padding: 4px 12px;
        border-bottom: 1px solid #626364;
        qproperty-wordWrap: true;
        }

    List::item:selected {
        background: #8a9fbb;
        border-bottom: 1px solid #8a9fbb;
        color: #ffffff;
        }

/**
 * @section Tree
 */

Tree {
    border: none;
    show-decoration-selected: 1;
    padding: 0;
    background-color: #626364;
    alternate-background-color: #676869;
    outline: 0;
    }

    Tree::item {
        color: #e6e6e6;
        padding: 4px 0;
        margin: 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #626364;
        qproperty-wordWrap: true;
        }

    Tree::item:selected {
        background: #8a9fbb;
        border-bottom: 1px solid #8a9fbb;
        color: #ffffff;
        }

    Tree::branch {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid #626364;
        }

    Tree::branch:selected {
        background: #8a9fbb;
        border-bottom: 1px solid #8a9fbb;
        }

    Tree::branch:has-children:!has-siblings:closed,
    Tree::branch:closed:has-children:has-siblings,
    Tree::branch:has-children:!has-siblings:closed:selected,
    Tree::branch:closed:has-children:has-siblings:selected {
        border-image: none;
        image: url(:/rc/branch-closed-white.png);
        }

    Tree::branch:open:has-children:!has-siblings,
    Tree::branch:open:has-children:has-siblings,
    Tree::branch:open:has-children:!has-siblings:selected,
    Tree::branch:open:has-children:has-siblings:selected {
        border-image: none;
        image: url(:/rc/branch-open-white.png);
        }

/**
 * @section Welcome
 */

Welcome {
    background-color: #2f2f2f;
    }

    Welcome #gk_welcome_title {
        qproperty-alignment: AlignCenter AlignCenter;
        text-align: center;
        font-size: 22px;
        margin: 0 0 6px 0;
        color: #f1f1f1;
        }

    Welcome #gk_welcome_description {
        text-align: center;
        font-size: 13px;
        qproperty-alignment: AlignCenter AlignCenter;
        font-weight: 300;
        color: #929292;
        margin: 0 0 24px 0;
        }

/**
 * @section WelcomeAction
 */

WelcomeAction {
    border: none;
    border-radius: 5px;
    }

    WelcomeAction:hover {
        background: #222;
        }

    #gk_welcome_action_title {
        font-size: 13px;
        margin-left: 70px;
        margin-bottom: 3px;
        color: #f1f1f1;
        background: none;
        }

    #gk_welcome_action_text {
        font-size: 13px;
        color: #929292;
        margin-left: 70px;
        background: none;
        }

/**
 * @section AboutDialog
 */

AboutDialog {
    background: #484a51;
    }

    AboutDialog #g_about_title {
        font-size: 20pt;
        color: #f1f1f1;
        }

    AboutDialog #g_about_description {
        background: #484a51;
        border: none;
        color: #a3a3a6;
        }

/**
 * @section Popup
 */

Popup {
    background: #eee;
    }

/**
 * @section MessageDialog
 */

MessageDialog {
    background: #484a51;
    }

    MessageDialog #g_message_title {
        font-size: 20pt;
        color: #f1f1f1;
        }

    MessageDialog #g_message_text {
        background: #484a51;
        border: none;
        color: #a3a3a6;
        }

        MessageDialog Button {
            margin: 0 0 0 12px;
            }

/**
 * @section ProgressDialog
 */

ProgressDialog {
    background: #484a51;
    }

    ProgressDialog #g_progress_title {
        font-weight: bold;
        color: #f1f1f1;
        }

    ProgressDialog #g_progress_text {
        background: #484a51;
        border: none;
        color: #a3a3a6;
        font-size: 12pt;
        }

        ProgressDialog QToolButton {
            border: none;
            padding: 0;
            background: none;
            }

/******************************************************************************
 *
 * @section Application
 *
 *****************************************************************************/

/**
 * @section Welcome Dialog
 */

Welcome {
    background: #2f2f2f url(:/rc/welcome_bg.png) scroll no-repeat 0 0;
    }

/**
 * @section Actions Dialog
 */

ActionsDialog {}

    #ActionsDialog_search_widget {
        background: #676869;
        }


/******************************************************************************
 *
 * @section PropertiesView
 *
 *****************************************************************************/

#PropertiesView_empty {
    background-color: #2f2f2f;
    }

    #PropertiesView_empty_title {
        qproperty-alignment: AlignCenter AlignCenter;
        text-align: center;
        font-size: 22px;
        margin: 0 0 6px 0;
        color: #f1f1f1;
        }

    #PropertiesView_empty_info {
        text-align: center;
        font-size: 13px;
        qproperty-alignment: AlignCenter AlignCenter;
        font-weight: 300;
        color: #929292;
        margin: 0 0 16px 0;
        }


/******************************************************************************
 *
 * @section EmptyViewer
 *
 *****************************************************************************/

#EmptyViewer {
    background-color: #2f2f2f;
    }

    #EmptyViewer_title {
        qproperty-alignment: AlignCenter AlignCenter;
        text-align: center;
        font-size: 22px;
        margin: 0 0 6px 0;
        color: #f1f1f1;
        }

    #EmptyViewer_info {
        text-align: center;
        font-size: 13px;
        qproperty-alignment: AlignCenter AlignCenter;
        font-weight: 300;
        color: #929292;
        margin: 0 0 16px 0;
        }


/******************************************************************************
 *
 * @section TimeViewer
 *
 *****************************************************************************/

#TimeViewer {
    }

    #TimeViewer_toolbar {
        color: #f1f1f1;
        background: #222;
        border-top: 1px solid #333;
        }

    #TimeViewer_label {
        color: #f1f1f1;
        background: #222;
        text-align: center;
        font-size: 48px;
        qproperty-alignment: AlignCenter AlignCenter;
        }


/******************************************************************************
 *
 * @section LibraryViewer
 *
 *****************************************************************************/

#LibraryViewer {
    background: #626364;
    padding: 0;
    margin: 0;
    }

    #LibraryViewer_search_widget {
        background: #676869;
        }

/**
 * @section song dialog
 */

SongDialog {
    background: #262626;
    }

    SongDialog QLabel {
        color: #959595;
        margin: 0;
        }

    SongDialog QLineEdit,
    SongDialog QTextEdit {
        border: 1px solid #1a1a1a;
        border-radius: 2px;
        padding: 2px;
        margin: 0;
        background: #212121;
        min-height: 20px;
        color: #b3b3b3;
        }

    #SongDialog_head {
        background: #31343a;
        }

        #SongDialog_head_title {
            font-size: 20pt;
            color: #f1f1f1;
            }

        #SongDialog_head_subtitle {
            color: #8a9fbb;
            }

/******************************************************************************
 *
 * @section CuelistViewer
 *
 *****************************************************************************/

#CuelistViewer {
    background-color: #626364;
    padding: 0;
    margin: 0;
    }

    #CuelistViewer_empty {
        background-color: #2f2f2f;
        }

        #CuelistViewer_empty_title {
            qproperty-alignment: AlignCenter AlignCenter;
            text-align: center;
            font-size: 22px;
            margin: 0 0 6px 0;
            color: #f1f1f1;
            }

        #CuelistViewer_empty_info {
            text-align: center;
            font-size: 13px;
            qproperty-alignment: AlignCenter AlignCenter;
            font-weight: 300;
            color: #929292;
            margin: 0 0 16px 0;
            }

    #CuelistViewer_label {
        qproperty-alignment: AlignCenter AlignCenter;
        color: #e0e0e1;
        margin: 3px;
        }

    /**
     * @section cuelist panel
     */

    #cuelist_dialog {
        background-color: #2f2f2f;
        }

        #cuelist_dialog_list {
            border: none;
            background-color: #2f2f2f;
            alternate-background-color: #393939;
            show-decoration-selected: 1;
            outline: 0;
            }

            #cuelist_dialog_list::item {
                color: #e6e6e6;
                padding: 4px 12px;
                margin: 0;
                border-bottom: 1px solid transparent;
                qproperty-wordWrap: true;
                }

            #cuelist_dialog_list::item:selected {
                background: #8a9fbb;
                border-bottom: 1px solid #8a9fbb;
                color: #e6e6e6;
                }

        #cuelist_dialog_toolbar {
            background: #222;
            border: none;
            padding: 0;
            margin: 0;
            min-height: 24px;
            }

            #cuelist_dialog_toolbar QToolButton {
                border: 1px solid transparent;
                background: none;
                border-radius: 3px;
                padding: 4px 4px;
                }

/**
 * @section cue dialog
 */

CueDialog {
    background: #262626;
    }

    CueDialog QLabel {
        color: #959595;
        margin: 0;
        }

    CueDialog QLineEdit,
    CueDialog QTextEdit {
        border: 1px solid #1a1a1a;
        border-radius: 2px;
        padding: 2px;
        margin: 0;
        background: #212121;
        min-height: 20px;
        color: #b3b3b3;
        }

    #CueDialog_toolbar {
        background: #2f2f2f;
        border: none;
        padding: 0;
        margin: 0;
        min-height: 30px;
        }


/******************************************************************************
 *
 * @section NodeViewer
 *
 *****************************************************************************/

#NodeViewer {}

    #NodeViewer_toolbar {}

/******************************************************************************
 *
 * @section PropertyViewer
 *
 *****************************************************************************/

#PropertyViewer {}

    #PropertyViewer_toolbar {}

/******************************************************************************
 *
 * @section DisplayPreviewViewer
 *
 *****************************************************************************/

#DisplayPreviewViewer {}

    #DisplayPreviewViewer_label {
        background: #000;
        color: #f1f1f1;
        padding: 8px;
        qproperty-alignment: AlignCenter AlignCenter;
        qproperty-wordWrap: true;
        }

    #DisplayPreviewViewer_toolbar {
        color: #f1f1f1;
        background: #000;
        border-top: 1px solid #000;
        }


/******************************************************************************
 *
 * @section NotesViewer
 *
 *****************************************************************************/

#NotesViewer {}

    #NotesViewer_text {
        background: #a7a7a7;
        color: #222222;
        padding: 8px;
        border: none;
        }

    #NotesViewer_toolbar {
        color: #222222;
        background: #a7a7a7;
        border-top: 1px solid #a2a2a2;
        }

        #NotesViewer_label {
            padding: 8px;
            qproperty-alignment: AlignCenter AlignCenter;
            qproperty-wordWrap: true;
            color: #222222;
            }


/******************************************************************************
 *
 * @section ConsoleViewer
 *
 *****************************************************************************/

#ConsoleViewer {
    }

    #ConsoleViewer_text {
        background: #2f2f2f;
        color: #a8b6c6;
        border: none;
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
            Monaco, "Courier New", Courier, monospace;
        font-size: 12pt;
        }

    #ConsoleViewer_toolbar {
        color: #ffffff;
        background: #2f2f2f;
        border-top: 1px solid #2f2f2f;
        }

        #ConsoleViewer_label {
            padding: 8px;
            qproperty-alignment: AlignCenter AlignCenter;
            qproperty-wordWrap: true;
            color: #2d2d32;
            }


/******************************************************************************
 *
 * @section PreferencesDialog
 *
 *****************************************************************************/

PreferencesDialog {
    background: #2f2f2f;
    color: #e9e9e9;
    }

    PreferencesDialog QLabel {
        color: #e9e9e9;
        }

    /**
     * @section GeneralConfigurator
     */

    #GeneralConfigurator {
        }

    /**
     * @section BibleConfigurator
     */

    #BibleConfigurator_list {
        border: none;
        outline: 0;
        background: #2f2f2f;
        show-decoration-selected: 1;
        alternate-background-color: #393939;
        }

        #BibleConfigurator_list::item {
            border: none;
            color: #e6e6e6;
            padding: 6px 12px;
            qproperty-wordWrap: true;
            }

        #BibleConfigurator_list::item:selected {
            background: #8a9fbb;
            color: #e6e6e6;
            }


    /**
     * @section PluginsConfigurator
     */

    #PluginsConfigurator_list {
        border: none;
        outline: 0;
        background: #2f2f2f;
        show-decoration-selected: 1;
        alternate-background-color: #393939;
        }

        #PluginsConfigurator_list::item {
            border: none;
            color: #e6e6e6;
            padding: 6px 12px;
            qproperty-wordWrap: true;
            }

        #PluginsConfigurator_list::item:selected {
            background: #8a9fbb;
            color: #ffffff;
            }

    /**
     * @section OSCOutConfigurator
     */

    #OSCOutConfigurator {
        }

        #OSCOutConfigurator_list {
            border: none;
            outline: 0;
            background: #2f2f2f;
            show-decoration-selected: 1;
            alternate-background-color: #393939;
            }

            #OSCOutConfigurator_list::item {
                border: none;
                color: #e6e6e6;
                padding: 6px 12px;
                qproperty-wordWrap: true;
                }

            #OSCOutConfigurator_list::item:selected {
                background: #8a9fbb;
                color: #e6e6e6;
                }

    /**
     * @section OSCInConfigurator
     */

    #OSCInConfigurator {
        }

        #OSCInConfigurator_list {
            border: none;
            outline: 0;
            background: #2f2f2f;
            show-decoration-selected: 1;
            alternate-background-color: #393939;
            }

            #OSCInConfigurator_list::item {
                border: none;
                color: #e6e6e6;
                padding: 6px 12px;
                qproperty-wordWrap: true;
                }

            #OSCInConfigurator_list::item:selected {
                background: #8a9fbb;
                color: #e6e6e6;
                }
